<div class="otherBod">
    <h1><%= @cat.name %></h1>


    <% if @cat.photo.attached? %>
        <%= image_tag @cat.photo.variant(resize_to_limit: [400, 500]).processed %>
    <% else %>
        <p>no photo uploaded</p>
    <% end %>
    <div class="edit-settings">
        <%= button_to "Back", cats_path, method: :get %>
        <%= button_to "Edit", edit_cat_path(@cat), method: :get%>
        <%= button_to "Delete", @cat, method: :delete, data: { turbo_confirm: "NOOO DONT DELETE ME T_T" } %>
    </div>
</div>